In [1]:
import pandas as pd

In [2]:
with open('celsius.txt', 'r') as reader:
    celsius_data = reader.read()

In [3]:
import re

In [4]:
celsius_data = celsius_data.split('\n')

In [5]:
len(celsius_data)

3356381

In [6]:
# celsius_data[0:20]

In [7]:
filter_celsius_data = [re.split(r'[ ]{3,}', x.strip()) for x in celsius_data if len(re.split(r'[ ]{3,}', x.strip())) >= 9]

In [8]:
len(filter_celsius_data)

3167016

In [9]:
df = pd.DataFrame(filter_celsius_data, columns=[
    'USERNAME', 'ADDRESS', 'DATE', 'ACCOUNT', 'TYPE', 'Descriptive_Purpose', 'COIN', 'COIN_QUANTITY', 'COIN_USD', 'tmp'
])

In [10]:
df[~ df['tmp'].isnull()]

,USERNAME,ADDRESS,DATE,ACCOUNT,TYPE,Descriptive_Purpose,COIN,COIN_QUANTITY,COIN_USD,tmp
3165829,นิตพ,ิ ล พลวัน,ADDRESS REDACTED,4/14/2022 - 7/13/2022,"Earn - Interest; Earn, Custody or Withheld - R...",Incoming,Interest and Rewards,ETH,0.0019189957731,$3.65
3165830,นิตพ,ิ ล พลวัน,ADDRESS REDACTED,4/14/2022 - 7/13/2022,"Earn - Interest; Earn, Custody or Withheld - R...",Incoming,Interest and Rewards,MATIC,1.27100560999,$1.01
3165831,นิตพ,ิ ล พลวัน,ADDRESS REDACTED,4/14/2022 - 7/13/2022,"Earn - Interest; Earn, Custody or Withheld - R...",Incoming,Interest and Rewards,DOT,0.45055289695,$5.01
3165832,นิตพ,ิ ล พลวัน,ADDRESS REDACTED,4/14/2022 - 7/13/2022,"Earn - Interest; Earn, Custody or Withheld - R...",Incoming,Interest and Rewards,AVAX,0.037161220739,$1.47
3165841,สถาพร พิบล,ู ย์,ADDRESS REDACTED,4/14/2022 - 7/13/2022,"Earn - Interest; Earn, Custody or Withheld - R...",Incoming,Interest and Rewards,CEL,0.000018718916977,$0.00

In [11]:
df_data = df[df['tmp'].isnull()].reset_index(drop=True).drop('tmp', axis=1)
df_data['COIN_QUANTITY'] = df_data['COIN_QUANTITY'].str.replace(r'[^\d.]', '').astype(float)
df_data['COIN_USD'] = df_data['COIN_USD'].str.replace(r'[^\d.]', '').astype(float)

/tmp/ipykernel_21358/1889675733.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_data['COIN_QUANTITY'] = df_data['COIN_QUANTITY'].str.replace(r'[^\d.]', '').astype(float)
/tmp/ipykernel_21358/1889675733.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_data['COIN_USD'] = df_data['COIN_USD'].str.replace(r'[^\d.]', '').astype(float)

In [12]:
df_data.shape

(3167011, 9)

In [13]:
df_data_grouped = df_data.groupby(['USERNAME', 'TYPE', 'COIN'])['COIN_QUANTITY'].sum().reset_index()

In [14]:
df_data_grouped.head(10)

                   USERNAME      TYPE  COIN  COIN_QUANTITY
0           007 CAPITAL LLC  Incoming   BTC   6.927570e+01
1           007 CAPITAL LLC  Incoming   CEL   8.771685e+03
2           007 CAPITAL LLC  Incoming   ETH   1.125475e+04
3           007 CAPITAL LLC  Incoming  USDC   9.860482e+06
4           007 CAPITAL LLC  Outgoing   BTC   6.927620e+01
5           007 CAPITAL LLC  Outgoing   CEL   8.703830e+03
6           007 CAPITAL LLC  Outgoing   ETH   1.096041e+04
7           007 CAPITAL LLC  Outgoing  USDC   9.261165e+06
8  1 PLUS 1 SENIOR CARE INC  Incoming   BTC   1.143399e-02
9      100 RAINBOWS PTY LTD  Incoming   BCH   4.757909e-06

In [31]:
df_data['USERNAME'].nunique()

496031

In [16]:
df_data[df_data['TYPE'] == 'Incoming']['COIN'].value_counts().head(10)

BTC           553461
ETH           316732
CEL           247713
USDC          240977
MATIC         107941
ADA            99773
DOT            68967
USDT ERC20     56571
LINK           54447
LTC            51002
Name: COIN, dtype: int64

In [27]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [28]:
df_data[df_data['TYPE'] == 'Incoming'].groupby('COIN')['COIN_USD'].sum().nlargest(50)

COIN
BTC          1959603787.88
ETH          1751759320.32
USDC         1394975792.37
USDT ERC20    274763196.04
ADA           157905227.42
CEL           132151765.79
GUSD           95091976.80
MATIC          91887982.37
LINK           63984245.00
SOL            62469853.80
PAX            40918094.68
PAXG           40065124.62
UST            29574833.61
DOT            24509425.65
LUNC           21961414.18
BUSD           21179292.16
XRP            18457995.06
AVAX           16986113.48
LTC            16306355.64
WBTC           14801938.56
DOGE           13881078.73
MCDAI          13534417.29
BNB            11446521.40
SNX            10070054.68
AAVE            6369335.41
XLM             6197435.54
MANA            5441826.47
UNI             4653059.62
BCH             4293791.67
DASH            4136317.69
TUSD            4125728.97
ZEC             3835343.01
BAT             2887825.33
EOS             2737187.27
TAUD            2594286.76
ZRX             1792508.76
KNC             1500698.70
TGBP            1488367.76
ETC             1064710.19
XAUT             920002.68
XTZ              889583.15
TCAD             799336.77
COMP             769829.67
BSV              586567.67
OMG              470817.53
SUSHI            457021.51
1INCH            448869.91
SGB              303209.38
BNT              209724.68
LPT              174981.82
Name: COIN_USD, dtype: float64

In [29]:
df_data[df_data['TYPE'] == 'Outgoing'].groupby('COIN')['COIN_USD'].sum().nlargest(50)

COIN
BTC          2860047621.91
ETH          2455875874.80
USDC         1914186502.81
USDT ERC20    395338078.26
ADA           172676363.43
MATIC         149836761.08
CEL           125528044.55
GUSD          109092464.20
LINK           95007596.52
PAX            84055064.53
SOL            67120740.56
PAXG           58617356.70
BUSD           57240530.81
XRP            37384977.42
DOT            35099679.55
WBTC           26071699.93
AVAX           25337161.96
BNB            24503958.94
LTC            22488278.03
LUNC           22453315.74
MCDAI          18788079.79
BCH            16857334.69
UST            14967015.33
DOGE           14287754.58
SNX            12857131.81
TUSD           10070624.81
AAVE            9629433.36
TAUD            9028049.82
XLM             8497418.17
ZEC             7156423.41
MANA            6669794.01
TGBP            6263239.87
UNI             6188661.60
DASH            4949529.06
BAT             3718965.48
EOS             3699588.66
ZRX             3244655.65
TCAD            2778560.79
ETC             2578513.20
THKD            2142559.03
KNC             2121359.37
XAUT            1340257.92
COMP            1310726.87
ZUSD             972791.89
XTZ              830692.43
SUSHI            776651.26
1INCH            666692.51
BSV              662144.03
OMG              560959.80
SGB              524385.47
Name: COIN_USD, dtype: float64

In [32]:
df_data[df_data['TYPE'] == 'Incoming'].groupby('USERNAME')['COIN_USD'].sum().nlargest(50)

USERNAME
HARRISON CHARLES SCHOENAU                                                          220697868.82
HOME 007 LLC                                                                       153682606.74
POWER BLOCK COIN, LLC                                                               90133639.46
RHMP PROPERTIES INC                                                                 71998511.82
THOMAS HARDY HUGGINS                                                                67338707.95
BOFUR CAPITAL LLC                                                                   57941279.50
BRADLEY JAMES DOWNS                                                                 41924950.65
WEAVE MARKETS LP                                                                    37675849.12
PROFLUENT TRADING INC. INC                                                          35257831.25
TIAN WEI CHRISTOPHER NG                                                             35202577.60
007 CAPITAL LLC                                                                     31370430.36
HONG CHOI                                                                           29558666.44
DANIEL ANTHONY VALENZUELA                                                           24588476.13
LY HOAN                                                                             24249750.40
MARK BERGER                                                                         24236756.51
ZARYN DENTZEL                                                                       24059621.43
MOHAMED ALI MOHAMED NASER BASLAIB                                                   22778899.97
JOSEPH BENJAMIN HARDING                                                             21839815.25
DRUK HOLDING & INVESTMENTS LIMITED                                                  17978105.68
JASON BRUCE OWEN                                                                    17180680.43
THOMAS ALBERT DIFIORE                                                               15490005.23
ANDREW YOON                                                                         15470988.99
NICHOLAS FARR                                                                       15137798.93
CLAIRE NISHIMURA                                                                    14389369.61
PAZ PARAMDEEP DHODY                                                                 14034593.74
CHAMFER LLC                                                                         13770694.72
CRYPTO10 SP -SEGREGATED PORTFOLIO OF INVICTUS CAPITAL FINANCIAL TECHNOLOGIES SPC    12390205.86
SANDER LYLLOFF                                                                      11942363.95
VAN TIBOLLI                                                                         11870649.75
JOSHUA ROBERT GRAY                                                                  11484309.15
DEFERRED 1031 EXCHANGE, LLC                                                         11282924.58
SIMON MITCHELL                                                                      11237302.30
R. WOLSTENHOLME                                                                     11187224.91
DONALD WAYNE WOODS                                                                  10289617.92
NG SENG HE                                                                          10258422.12
ZIPMEX ASIA PTE LTD.                                                                10090861.02
SHILPA KAMALA GOLLAPUDI                                                             10062572.15
LAW OFFICES OF STEFAN COLEMAN, P.A                                                  10036549.92
BAN CHAI LOW                                                                         9791305.43
ANDREW ALEXANDER POTOTSCHNIK                                                         9781413.92
KENT CHOI                                                                            9581800.20
KHANH LE PHAM                                                                        9581120.27
MICHAEL C MURRAY                                                                     9375547.63
THIRD HAVEN DIGITAL YIELD FUND LLC                                                   9294107.58
ROBERT KEVIN BUTRYN                                                                  9048764.11
INVICTUS CAPITAL FINANCIAL TECHNOLOGIES SPC                                          8995972.69
SIMON DIXON                                                                          8906733.61
TIMOTHY RUSSELL CRANE                                                                8608800.56
MATTHEW FISKE                                                                        8296072.01
DIFIORE TSA IRREVOCABLE GST TRUST                                                    8278846.15
Name: COIN_USD, dtype: float64

In [33]:
df_data[df_data['TYPE'] == 'Outgoing'].groupby('USERNAME')['COIN_USD'].sum().nlargest(50)

USERNAME
HARRISON CHARLES SCHOENAU                     246225856.29
HOME 007 LLC                                  164546758.04
POWER BLOCK COIN, LLC                         120718605.19
WEAVE MARKETS LP                               75168524.99
RHMP PROPERTIES INC                            74007907.37
THOMAS HARDY HUGGINS                           66477839.56
DRUK HOLDING & INVESTMENTS LIMITED             65074982.66
BOFUR CAPITAL LLC                              58260296.71
TIAN WEI CHRISTOPHER NG                        57384102.51
QUOINE PTE. LTD. (LIQUID)                      51287146.61
PROFLUENT TRADING INC. INC                     49181237.43
DANIEL ANTHONY VALENZUELA                      39275847.33
HONG CHOI                                      32664881.45
GEOMETRIC QUANT ALPHA FUND, LTD                31650493.28
MARK BERGER                                    31331284.93
007 CAPITAL LLC                                28801052.16
LY HOAN                                        28419234.94
MICHAEL WEBER                                  27618782.89
PAZ PARAMDEEP DHODY                            24909032.55
JOSHUA ROBERT GRAY                             22791003.05
VAN TIBOLLI                                    22361066.90
BRADLEY JAMES DOWNS                            22336951.43
MOHAMED ALI MOHAMED NASER BASLAIB              21816522.24
JOSEPH BENJAMIN HARDING                        21769742.40
CARLOS C DEKKER                                20269431.34
SHERI CHAN                                     18758500.46
THIRD HAVEN DIGITAL YIELD FUND LLC             18489585.10
SIMON DIXON                                    17600000.00
INVICTUS CAPITAL FINANCIAL TECHNOLOGIES SPC    17298709.55
ROBERT KEVIN BUTRYN                            16909128.55
KENT CHOI                                      16857837.05
JASON BRUCE OWEN                               16438836.45
SANDER LYLLOFF                                 16399545.39
MATTHEW FISKE                                  16293025.42
DIFIORE TSA IRREVOCABLE GST TRUST              15928975.43
CHAMFER LLC                                    15690451.63
JASON ANTHONY WILLIAMS                         15201403.19
LAW OFFICES OF STEFAN COLEMAN, P.A             14916669.09
CLAIRE NISHIMURA                               14314225.89
ZIPMEX ASIA PTE LTD.                           14061297.43
THOMAS ALBERT DIFIORE                          14026024.40
ZARYN DENTZEL                                  13815091.53
ANDREW ALEXANDER POTOTSCHNIK                   13801296.78
DAVID FRANKLIN GORDON                          13625635.24
VOYAGER DIGITAL                                13598597.03
MICHAEL MAZZOTTA                               13342399.20
SHILPA KAMALA GOLLAPUDI                        13233683.61
DONALD WAYNE WOODS                             13042725.70
HO MAN LIN                                     12938711.30
COIN MEESTER B.V.                              12669280.79
Name: COIN_USD, dtype: float64

In [49]:
df_data['ACCOUNT'].unique()

array(['Custody', 'Earn',
       'Earn - Interest; Earn, Custody or Withheld - Rewards', 'Witheld',
       'Withheld'], dtype=object)